.board__wrapper {
  padding: 0px 45px;
  padding-top: 250px;
  padding-bottom: 50px;

  .board__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;

    &--title {
      font-size: 70px;
      text-align: center;
    }

    &--sub-title {
      text-align: center;
      width: 750px;
    }
  }

  .board__members {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 3rem;

    &--member {
      padding: 0 25px;
      padding-bottom: 35px;
      width: 28%;

      .member-image__container {
        width: 100%;
        display: flex;
        justify-content: center;

        .member-image__wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 14px;

          .member-image {
            height: 350px;
          }
        }
      }

      .member-info {
        padding-top: 40px;
        text-align: justify;

        .member-title {
        }

        .member-bio {
          padding-top: 16px;
        }
      }
    }
  }

  // .board-content__wrapper {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-column-gap: 5px;

  //   .board--image__wrapper {
  //     display: flex;
  //     justify-content: center;

  //     .board--image {
  //       width: 406px;
  //       height: 531px;
  //     }
  //   }

  //   .board-text__wrapper {
  //     .text--title {
  //       font-size: 70px;
  //     }

  //     .text {
  //       font-size: 18px;
  //       font-family: 'Benton-Sans-Regular', sans-serif;
  //       line-height: 1.8em;
  //       margin-block-start: 1em;
  //       margin-block-end: 1em;
  //       margin-inline-start: 0px;
  //       margin-inline-end: 0px;
  //       font-size: 16px;
  //     }
  //   }
  // }

  .donation-button__wrapper {
    display: flex;
    align-items: center;

    .donation-button {
      height: 36px;
      width: min-content;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #fff;
      background-color: #00284d;
      border-color: #00284d;
      padding: 21px 30px;
      border-radius: 4px;
    }
  }
}
