@import '@scss/media_queries/ipad.scss';
@import '@scss/media_queries/iphone.scss';

@include Iphone {
  .email-signup {
    &--wrapper {
      width: auto;

      .email-signup--header1 {
        font-size: 21px;
      }
      .email-signup--header2 {
        font-size: 11px;
      }
      .subscribe-button {
        padding: 2px 20px;
      }
    }
  }
}
