.notfications__wrapper {
  position: fixed;
  bottom: -25px;
  left: 32%;
  transform: translateY(60%);
  z-index: 1400;

  &.slide-up {
    transform: translateY(-60%);
    transition: linear 400ms;
  }

  .notification {
    &__wrapper {
      position: relative;
      min-width: 490px;
      text-align: center;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-top: 10px;

      &.success {
        background-color: #071007;
        color: #b5ddb7;

        svg {
          fill: #b5ddb7;
        }
      }

      &.error {
        background-color: #180605;
        color: #e5a39f;

        svg {
          fill: #e5a39f;
        }

        p {
          max-width: 375px;
        }
      }

      &.info {
        background-color: #030d18;
        color: #a6d5fa;
      }

      p {
        font-size: 13px;
        margin-left: 8px;
      }

      svg {
        height: 15px;
        height: 20px;
        margin-right: 5px;
      }
    }

    &__close-icon {
      position: absolute;
      right: 15px;
    }
  }
}