@import '@scss/media_queries/ipad.scss';
@import '@scss/media_queries/iphone.scss';

@include Iphone {
  .newsletter-page {
    .newsletter__wrapper {
      .nl-img__wrapper {
        display: flex;
        justify-content: center;

        .nl--img {
          height: 224px;
          width: 336px;
        }
      }
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      padding: 0px;
      padding-top: 75px;

      .nl-form__wrapper {
        padding: 0 15px 20px 15px;
      }
    }
  }
}
