@font-face {
  font-family: 'Manrope-Bold';
  src: local('Manrope-Bold'), url('../public/fonts/Manrope/Manrope-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: local('Manrope-Regular'), url('../public/fonts/Manrope/Manrope-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: local('NotoSans-Regular'), url('../public/fonts/Noto-Sans/NotoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Benton-Sans-Regular';
  src: local('Benton-Sans-Regular'), url('../public/fonts/BentonSans/BentonSansRegular.woff') format('woff');
}

@font-face {
  font-family: 'Benton-Sans-Bold';
  src: local('Benton-Sans-Bold'), url('../public/fonts/BentonSans/BentonSansBold.woff') format('woff');
}