.accordion__wrapper {
  padding-left: 8px;

  .accordion {
    &.open {
      height: auto;
      transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      transition-duration: 0.5s;
      transition-property: height;
    }

    &.closed {
      max-height: 0;
      overflow: hidden;
    }
  }
}
