.contact-form__wrapper {
  .contact-form-header {
    font-size: 36px;
    font-family: 'Manrope-Bold';
  }

  .contact-form {
    .form-input-wrapper {
      .error-wrapper {
        display: flex;
        p {
          color: #cc3b3b;
        }

        svg {
          height: 20px;
        }
      }
    }
  }
}
