.contact-form__wrapper {
  .contact-form-header {
    font-size: 36px;
    font-family: 'Manrope-Bold';
  }

  .placeholder--form {
    border: 1.3px solid rgb(58, 57, 57);
    border-radius: 8px;
    height: 100%;
  }
}
